<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/assets/css/style.css}" rel="stylesheet" type="text/css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
       .middle-column-home{
          margin-left: 400px;
           width: 1600px;

       }
       .codelist{
           display: inline-block;
           background-color: #f6f6f6;
           width: 400px;
           height: 100px;
           padding-top: 10px;
           margin: 10px;
        }
       .codeicon{
         float: left;
           margin-left: 10px;
           margin-right: 10px;
       }
       .codelist a.item-top h4 {
           color: #64854c;
           font-size: 16px;
           margin-top: 10px;
           margin-bottom: 10px;
           line-height: 1.1;
           text-align: left;
       }
       .codelist a.item-top strong {
           display: block;
           color: #666;
           text-align: left;
       }

    </style>
</head>

<body class="accountbg1">
<div class="middle-column-home">
<h2>HTML/CSS</h2>
    <hr>
<div class="codelist">
    <a class="item-top" th:href="@{/index1.html}">
        <h4>【学习 html】</h4>
        <img class="codeicon" width="36" height="36" src="html.png">
                <strong>HTML，即超文本标记语言（Hyper Text Markup Language）</strong>
        </a>
</div>

    <div class="codelist">
        <a class="item-top" th:href="@{/index2.html}">
            <h4>【学习 html5】</h4>
            <img class="codeicon" width="36" height="36" src="h5.png">
            <strong>HTML5 是下一代 HTML 标准。</strong>
            <br>
        </a>
    </div>

    <div class="codelist">
        <a class="item-top" th:href="@{/css.html}">
                <h4>【学习 css】</h4>
            <img class="codeicon" width="36" height="36" src="css.png">
            <strong>层叠样式表（Cascading StyleSheet）</strong>
            <br>
        </a>
    </div>

    <div class="codelist">
        <a class="item-top" th:href="@{/css3.html}">
            <h4>【学习 css3】</h4>
            <img class="codeicon" width="36" height="36" src="css3.png">
            <strong>CSS3是CSS技术的升级版本</strong>
            <br>
        </a>
    </div>

    <div class="codelist">
        <a class="item-top" th:href="@{/bootstrap3.html}">
            <h4>【学习 Bootstrap3】</h4>
            <img class="codeicon" width="36" height="36" src="bootstrap.png">
            <strong>Bootstrap，来自 Twitter，是目前最受欢迎的前端框架</strong>
            <br>
        </a>
    </div>

    <div class="codelist">
        <a class="item-top" th:href="@{/bootstrap4.html}">
            <h4>【学习 Bootstrap4】</h4>
            <img class="codeicon" width="36" height="36" src="bootstrap4.png">
            <strong>Bootstrap4 前端框架</strong>
            <br>
        </a>
    </div>


    <div class="codelist">
        <a class="item-top" th:href="@{/bootstrap5.html}">
            <h4>【学习 Bootstrap5】</h4>
            <img class="codeicon" width="36" height="36" src="bootstrap5.png">
            <strong>Bootstrap4 前端框架</strong>
            <br>
        </a>
    </div>
    <div class="codelist">
        <a class="item-top" th:href="@{/fontansom.html}">
            <h4>【学习 Font Awesome】</h4>
            <img class="codeicon" width="36" height="36" src="fontansom.png">
            <strong>Bootstrap4 前端框架</strong>
            <br>
        </a>
    </div>
    <div class="codelist">
        <a class="item-top" th:href="@{/foundation5.html}">
            <h4>【学习 Foundation5】</h4>
            <img class="codeicon" width="36" height="36" src="funddation.png">
            <strong>Bootstrap4 前端框架</strong>
            <br>
        </a>
    </div>

    <h2>HTML/JAVAscript</h2>
    <hr>

    <div class="codelist">
        <a class="item-top" th:href="@{/javascript.html}">
            <h4>【学习 JavaScript】</h4>
            <img class="codeicon" width="36" height="36" src="JavaScript.png">
            <strong>JavaScript 是 Web 的编程语言。</strong>
            <br>
        </a>
    </div>

    <div class="codelist">
        <a class="item-top" th:href="@{/htmldom.html}">
            <h4>【学习 HTML DOM 】</h4>
            <img class="codeicon" width="36" height="36" src="html.png">
            <strong>HTML DOM 定义了访问和操作 HTML 文档的标准方法</strong>
            <br>
        </a>
    </div>

    <div class="codelist">
        <a class="item-top" th:href="@{/jquery.html}">
            <h4>【学习 jQuery】</h4>
            <img class="codeicon" width="36" height="36" src="jQuery.png">
            <strong>jQuery 是一个 JavaScript 库</strong>
            <br>
        </a>
    </div>

    <div class="codelist">
        <a class="item-top" th:href="@{/angularjs.html}">
            <h4>【学习 AngularJS】</h4>
            <img class="codeicon" width="36" height="36" src="AngularJS.png">
            <strong>AngularJS 通过新的属性和表达式扩展了 HTML</strong>
            <br>
        </a>
    </div>

    <div class="codelist">
        <a class="item-top" th:href="@{/vue.html}">
            <h4>【学习 VUE】</h4>
            <img class="codeicon" width="36" height="36" src="vue.png">
            <strong>Vue.js 是一套构建用户界面的渐进式框架。</strong>
            <br>
        </a>
    </div>

    <div class="codelist">
        <a class="item-top" th:href="@{/vue3.html}">
            <h4>【学习 VUE3】</h4>
            <img class="codeicon" width="36" height="36" src="vue3.png">
            <strong>Vue 是一套构建用户界面的渐进式框架。<strong>Vue.js 是一套构建用户界面的渐进式框架。</strong></strong>
        </a>
    </div>

    <div class="codelist">
        <a class="item-top" th:href="@{/react.html}">
            <h4>【学习 REACT】</h4>
            <img class="codeicon" width="36" height="36" src="react.png">
            <strong>React 是一个用于构建用户界面的 JAVASCRIPT 库</strong>
            <br>
            <br>
        </a>
    </div>

    <div class="codelist">
        <a class="item-top" th:href="@{/eCharts.html}">
            <h4>【学习 ECharts 】</h4>
            <img class="codeicon" width="36" height="36" src="echarts.png">
            <strong>ECharts 是一个使用 JavaScript 实现的开源可视化库</strong>
            <br>
            <br>
        </a>
    </div>

    <h2>服务端</h2>
    <hr>

    <div class="codelist">
        <a class="item-top" th:href="@{/python.html}">
            <h4>【学习 Python 】</h4>
            <img class="codeicon" width="36" height="36" src="python.png">
            <strong>Python3.x 版本，未来主流版本。</strong>
            <br>
            <br>
        </a>
    </div>

    <div class="codelist">
        <a class="item-top" th:href="@{/python2.html}">
            <h4>【学习 Python2.x 】</h4>
            <img class="codeicon" width="36" height="36" src="python.png">
            <strong>Python 是一种面向对象、解释型计算机程序设计语言</strong>
            <br>
            <br>
        </a>
    </div>

    <div class="codelist">
        <a class="item-top" th:href="@{/java.html}">
            <h4>【学习 Java 】</h4>
            <img class="codeicon" width="36" height="36" src="java.png">
            <strong>一种可以撰写跨平台应用软件的面向对象的程序设计语言</strong>
            <br>
        </a>
    </div>

    <div class="codelist">
        <a class="item-top" th:href="@{/c.html}">
            <h4>【学习 C 】</h4>
            <img class="codeicon" width="36" height="36" src="c.png">
            <strong>一门通用计算机编程语言</strong>
            <br>
            <br>
        </a>
    </div>

    <div class="codelist">
        <a class="item-top" th:href="@{/c++.html}">
            <h4>【学习 C++ 】</h4>
            <img class="codeicon" width="36" height="36" src="c++.png">
            <strong>C++是在C语言的基础上开发的一种通用编程语言</strong>
            <br>
            <br>
        </a>
    </div>

<!--    <h2>数据库</h2>-->
<!--    <hr>-->

<!--    <div class="codelist">-->
<!--        <a class="item-top" th:href="@{/sql.html}">-->
<!--            <h4>【学习 SQL 】</h4>-->
<!--            <img class="codeicon" width="36" height="36" src="sql.png">-->
<!--            <strong>结构化查询语言(Structured Query Language)</strong>-->
<!--            <br>-->
<!--            <br>-->
<!--        </a>-->
<!--    </div>-->

<!--    <div class="codelist">-->
<!--        <a class="item-top" th:href="@{/mysql.html}">-->
<!--            <h4>【学习 MYSQL 】</h4>-->
<!--            <img class="codeicon" width="36" height="36" src="mysql.png">-->
<!--            <strong>MySQL 是一个关系型数据库管理系统</strong>-->
<!--            <br>-->
<!--            <br>-->
<!--        </a>-->
<!--    </div>-->

<!--    <div class="codelist">-->
<!--        <a class="item-top" th:href="@{/mongodb.html}">-->
<!--            <h4>【学习 MonGoDB 】</h4>-->
<!--            <img class="codeicon" width="36" height="36" src="MongoDB.png">-->
<!--            <strong>Mongo DB 是目前在IT行业非常流行的一种非关系型数据库(NoSql)</strong>-->
<!--            <br>-->
<!--        </a>-->
<!--    </div>-->

<!--    <div class="codelist">-->
<!--        <a class="item-top" th:href="@{/redis.html}">-->
<!--            <h4>【学习 Redis 】</h4>-->
<!--            <img class="codeicon" width="36" height="36" src="redis.png">-->
<!--            <strong>一个高性能的key-value数据库</strong>-->
<!--            <br>-->
<!--            <br>-->
<!--        </a>-->
<!--    </div>-->


</div>
</body>
</html>